:root {
  --dialog-min-w: 320px;
  --dialog-gap: 0.75rem;
  --dialog-border-color: lightgray;
  --dialog-border-radius: 0.5rem;
  --dialog-padding: 0.75rem;
  --dialog-padding-inline: 1rem;
  --dialog-close-color: gray;
  --dialog-button-bg: transparent;
  --dialog-button-border: transparent 1px solid;
  --dialog-button-hover-bg: whitesmoke;
  --dialog-display: flex;
  --dialog-flex-direction: column;
}

dialog {
  min-width: var(--dialog-min-w);
  gap: var(--dialog-gap);
  border-color: var(--dialog-border-color);
  border-radius: var(--dialog-border-radius);
  padding: var(--dialog-padding);
  padding-inline: var(--dialog-padding-inline);
  padding-block-start: calc(var(--dialog-padding) - 0rem);

  &[open] {
    display: var(--dialog-display);
    flex-direction: var(--dialog-flex-direction);
    gap: var(--dialog-gap);
    background-color: white;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .dialog-close {
      margin-block-end: 0;
    }
    button[type="button"] {
      background-color: var(--dialog-button-bg);
      border: var(--dialog-button-border);
      cursor: pointer;
      &:hover,
      &:focus {
        border-color: currentColor;
        background-color: var(--dialog-button-hover-bg);
      }
    }
  }
}
