:root {
  --transparent: transparent;
}

.transparent {
  background-color: var(--transparent);
  &-border {
    border-color: var(--transparent);
  }
  &-color {
    color: var(--transparent);
  }
}
