/**
 * DEPRECATED: This file is deprecated in favor of the new token system.
 *
 * Use tokens from src/sass/tokens/ instead:
 * - Primitives: src/sass/tokens/_color-primitives.scss
 * - Semantic: src/sass/tokens/_color-semantic.scss
 *
 * Use utility classes from src/sass/utilities/ for quick styling:
 * - .text-primary, .text-success, .text-error, etc.
 * - .bg-primary, .bg-success, .bg-error, etc.
 * - .border-primary, .border-success, .border-error, etc.
 *
 * This file will be removed in v6.0.0
 * Keeping for backward compatibility only.
 */

:root {
  --transparent: transparent;
}

.transparent {
  background-color: var(--transparent);
  &-border {
    border-color: var(--transparent);
  }
  &-color {
    color: var(--transparent);
  }
}
