@use "./sass/reset";
@use "./sass/layout";
@use "./sass/type";
@use "./sass/properties";
@use "./sass/globals";
@use "./sass/elements";
@use "./styles/utilities/disabled";
@use "./components/buttons/button.scss";
@use "./components/tag/tag.scss";
@use "./components/images/img.scss";
@use "./components/cards/card.scss";
@use "./components/progress/progress.scss";
@use "./components/details/details.scss";
@use "./components/link/link.scss";
@use "./components/layout/landmarks.scss";
@use "./components/box/box.scss";
@use "./components/stack/stack.scss";
@use "./components/cluster/cluster.scss";
@use "./components/grid/grid.scss";
@use "./components/dialog/dialog.scss";
@use "./sass/_grid.scss" as grid-legacy;
@use "./sass/_columns.scss";
@use "./components/badge/badge.scss";
@use "./components/nav/nav.scss";
@use "./components/form/form.scss";
@use "./components/breadcrumbs/breadcrumb.scss";
@use "./components/list/list.scss";
@use "./components/alert/alert.scss";
@use "./components/text-to-speech/text-to-speech.scss";
@use "./components/title/title.scss";
@use "./components/flexbox/flex.scss";
@use "./sass/styles/shadows";
@use "./sass/styles/colors";
